<!DOCTYPE html>
<html>
<head>
	<link href="/css/application.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script src="/javascript/jquery-2.0.3.min.js"></script>
	<script src="/javascript/support.js"></script>
	<script src="/javascript/application.js"></script>
	<script src="/javascript/html2canvas.js"></script>
	<title>Wake up To Beiber - The 10 Second Bieber Poster Generator</title>
</head>
<body>
	<header>
		<h1>10 Second Bieber Posters</h1>
		<h2>Don't wake up without Bieber - Make your very own poster in seconds!</h2>
	</header>
	<section id="select-image">
		<h2>Step 1. Find your dream image</h2>
		<p>Enter the keyword to search for images</p>
		<input id="search-term" type="text">
		<button id="go-search">Go!</button>
		<div id="search-results"></div>
		<div id="branding"></div>
	</section>
	<section id="add-text">
		<h2>Step 2. Enter your favourite lyric</h2>
		<input id="text" type="text" value="Curiosity is one of the greatest secrets of happiness">
	</section>
	<section id="style-image">
		<h2>Step 3. Add your own style!</h2>
		<div id="workspace">
		<p id="caption"></p>
		</div>
		<div id="controls">
		Left: <input type="number" value="10" id="left">
		Top: <input type="number" value="10" id="top">
		Width: <input type="number" value="400" id="width">
		Size: <input type="number" value="32" id="size">
		Colour: <select id="colour">
		<option>Red</option>
		<option>Green</option>
		<option>White</option>
		<option>Black</option>
		<option>Blue</option>
		<option>Yellow</option>
		<option>Gray</option>
		<option>Orange</option>
		<option>BlueViolet</option>
		<option>BurlyWood</option>
		<option>DarkGoldenRod</option>
		<option>Ivory</option>
		<option>HotPink</option>
		<option>OrangeRed</option>
		<option>SaddleBrown</option>
		<option>Gold</option>
		</select>
		Align <select id="align">
		<option>left</option>
		<option>right</option>
		<option>center</option>
		</select>
		</div>
		<div id="twitter">
		<button class="btn_example1">Test on this page</button>
			<a href="https://twitter.com/share" class="twitter-share-button" data-text="I built a 'Motivational Posters' page today here at @makersacademy!">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</div>
	</section>
	<footer>
		<a href="http://www.makersacademy.com/"><img src="http://www.makersacademy.com/images/logo.png"></a>
		<div>
		I build this page during my first day at <a href="http://www.makersacademy.com">Makers Academy, a highly selective 12 week coding course in London </a>
		</div>
		<div>
			This page uses Google Image search, Ruby, Sinatra, Javascript, jQuery, HTML and CSS.
		</div>
	</footer>
</body>
</html>


