<!DOCTYPE html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link href="/css/application.css" rel="stylesheet" type="text/css">
    <script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	<script src="/javascript/application.js"></script>
	<title>Wake up To Beiber - The 10 Second Bieber Poster Generator</title>
</head>
<body>
<div id='test'></div>
</body>
</html>
